body {
    font-family: 'Source Sans Pro', sans-serif;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

header {
    background: burlywood;
    padding: 15px;
    margin: 15px;
    display: flex;
}

a, a:visited {
    color: black;
    text-decoration: none;
}

.item {
    background: lightgray;
    margin: 15px;
    padding: 15px;
}

.nav-left {
    margin-right: auto;
}

.nav-right {
    display: flex;
}

.nav-right h1 a {
    /*text-decoration: black underline;*/
}