{% extends 'main/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <a href="{% url 'main:post_create'%}">
            <div class="item">
                <h3>Create New Post</h3>
            </div>
        </a>
    {% endif %}

    {% for post in blogpost_list %}
        <a href="{% url 'main:post_detail' post.pk %}">
            <div class="item">
                <h3>{{ post.title|escape }}</h3>
                {{ post.body|truncatewords:50|escape|linebreaks }}
            </div>
        </a>
    {% endfor %}
{% endblock content %}